.contact{
    margin-top: 140px;
    padding: 0px;
    background: #1E1E1E;

    
}

.row-contact{
    padding: 0px;
    width:100%;
    margin-left: -25px;
}

.col-contact{
    margin: 0px;
    background: #1E1E1E;
    box-sizing: border-box;
}

.col-form{
    margin: 0px;
    background: #1E1E1E;
    box-sizing: border-box;

    .shapes{
        
        h1{
        font-family: "Exo 2";
        font-weight: bold;
        font-size: 48px;
        line-height: 58px;
        color: #FFFFFF;
        margin-top: 59px;
        margin-left: 50px;
        margin-bottom: 20px;
        }
        

        h2{
        font-family: "Roboto Slab";
        font-style: normal;
        font-weight: 300;
        font-size: 21px;
        line-height: 28px;
        color: #FFFFFF;
        margin-left: 50px;
        margin-top:21px
        }
        

        button{
            margin-left: 50px;
            margin-top: 33px;
            width: 490px;
            
        }

        .input-form{
            margin-left: 50px;
            width: 493px;
        }

        .input-message{
            margin-left: 50px;
            width: 493px;
            height: 168px;
        }
        
    }

    .contact-number{
        font-family: "Roboto Slab";
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 24px;
        margin-left: 65px;
        margin-top: 50px;
        color:white;

        .number{
            font-family: Exo 2;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            margin-top: 5px;

            color: #FFFFFF;
        }
    }
    .separator{
        margin-top: -112.5px;
        margin-left: -15px;
    }

}