
.title{
    margin-top: 100px;
    margin-bottom: 70px;
    text-align: center;
    font-family: 'Exo 2';
    font-weight: bold;
    color: black;
    margin-right: 0%;
}

.definition{
    padding: 0;
    margin-bottom: 100px;
    align-items: center;

    .form-d{
        margin-left: 250px;
        margin-right: -50px;
    }

    .form-s{
        margin-left: 300px;
    }

    .form-c{
        margin-left: 140px;
    }
    
}