


.title{
    margin-top: 100px;
    margin-bottom: 70px;
    text-align: center;
    font-family: 'Exo 2';
    font-weight: bold;
    color: black;
    margin-right: 0%;
}



// .definition{
//     margin-bottom: 100px;
//     background-color: blueviolet;

.socials-box{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    //background-color: blueviolet;

    .form-m{
        margin-left: 0%;

    }

    .form-d{
        margin-left: 70px;
    }

    .form-c{
        margin-left: 70px;
    }
    .form-l{
        margin-left: 70px;
    }
}

    
    
